:root {
    --main-color: #685366;
    --white-color: #FFFFFF;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.white {
    color: white;
}

.main-color {
    color: var(--main-color);
}

.bold {
    font-weight: bold;
}

.font-center {
    text-align: center;
}

.font-size-1 {
    font-size: 1rem;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-4 {
    font-size: 4rem;
}

.font-size-6 {
    font-size: 6rem;
}

.font-size-8 {
    font-size: 8rem;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10vh {
    margin-top: 10vh;
}

.margin-row-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-col-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-col-10vh{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.background-main-color {
    background-color: var(--main-color);
}

.background-white-color {
    background-color: var(--white-color);
}

.line-height-2 {
    line-height: 2rem;
}

.line-height-3 {
    line-height: 3rem;
}

ul {
    padding-inline-start: 0;
}
li {
    list-style-type: none;
}

/*************************************/


